.toolbar-icon {
    padding: 0 0;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.sidenav-btn {
    margin-top: 10px;
}

.toolbar-name {
    margin-right: 30px;
}